.wp-calc-weight .advert-js {
	text-align: center;
	width: 100%;
}

.wp-calc-weight .wp-calc-weight-contract .wp-calc-weight-label {
	margin-top: 10px;
}

.wp-calc-weight .wp-calc-weight-result {
	font-size: 90%;
}

.wp-calc-weight .wp-calc-weight-result tr,
.wp-calc-weight .wp-calc-weight-layout tr {
	background: inherit !important;
	color: inherit !important;
}

.wp-calc-weight table.wp-calc-weight-result tr:first-child td {
    font-weight: normal !important;
}

.wp-calc-weight table.wp-calc-weight-result,
.wp-calc-weight table.wp-calc-weight-result td,
.wp-calc-weight table.wp-calc-weight-layout,
.wp-calc-weight table.wp-calc-weight-layout th,
.wp-calc-weight table.wp-calc-weight-layout td
 {
/*	border: none;*/
}

.wp-calc-weight .wp-calc-weight-result .wp-calc-weight-label {
	font-weight: bold;
}

.wp-calc-weight {
	font-weight: normal;	
	border: 1px solid #3cc88c;
	padding: 15px;
	background:#fff;	
	margin: auto;	
	overflow: auto;
	color:#000;
}

.wp-calc-weight .buttons {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.wp-calc-weight h3 {
	font-size: 150%;
}

.wp-calc-weight span.result,
.wp-calc-weight input.result {
	border: 1px dashed #3cc88c !important;
	background-color: inherit !important;
}

.wp-calc-weight .wp-calc-weight-result {
    margin-top: 15px;
}

.wp-calc-weight .wp-calc-weight-result tr {
    background-color: inherit;
    color: inherit;    
}

.wp-calc-weight .wp-calc-weight-result th {
    background: #efefef;
    font-size: 95%;
    vertical-align: middle;
    border: 1px solid #E9E9E9;
    font-weight: bold;
    color: #000;
}

.wp-calc-weight .wp-calc-weight-result td.subheader {
	font-weight: bold;
}

.wp-calc-weight .wp-calc-weight-result tfoot td {
	font-weight: bold;
}

.wp-calc-weight table.wp-calc-weight-result td.weight,
.wp-calc-weight table.wp-calc-weight-result tr:first-child td.weight 
{
	font-weight: bold !important;
}

.wp-calc-weight .wp-calc-weight-result td {
	border: 1px solid #E9E9E9;
	font-size: 95%;
	vertical-align: middle !important;
	padding: 10px !important;
}

.wp-calc-weight input[type=text],
.wp-calc-weight input[type=tel],
.wp-calc-weight input[type=number], 
.wp-calc-weight input[type=date], 
.wp-calc-weight select, 
.wp-calc-weight textarea {
	background: #efefef;	
	border: 1px solid #cecece;
	padding: 10px;
	width: 45%;
	height: auto !important;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin: 2px;
	margin-left: 0px;
	color:#000;
}
.wp-calc-weight input[type=text]:focus,
.wp-calc-weight input[type=tel]:focus,
.wp-calc-weight input[type=number]:focus,
.wp-calc-weight select:focus {
	background:#fff;
}

.wp-calc-weight button,
.wp-calc-weight input[type=button],
.wp-calc-weight input[type=submit] {
	background: #3cc88c;
    border: 0px;	   
	text-align:center;	   
	color:#fff;
	font-size:130%;
	font-weight:700;	   
    width: initial;
	height:50px;
	padding:5px 20px;
	cursor:pointer;
}

.wp-calc-weight button:focus,
.wp-calc-weight input[type=button]:focus,
.wp-calc-weight input[type=submit]:focus {
	background:#20a866;		
}

.wp-calc-weight input[type=reset]{
	background:#4C4C4C;		
    border: 0px;	   
	text-align:center;
	color:#fff;
	font-size:130%;
	font-weight:700;
    width: initial;		
	height:50px;
	padding:5px 10px;
	cursor:pointer;
}
.wp-calc-weight input[type=reset]:focus{background:#4d4d4d}
.wp-calc-weight input[readonly],.wp-calc-weight input[type=text]:disabled{background:#fff;border:1px solid #f07d7d}

.group{padding:5px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:5px 0}.group_con{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:left!important;width:20%;padding-right:5px;margin-bottom:5px}.group_stats{width:13%!important}.group_small{width:10%!important}.group_con_width{width:5%!important}.group span{display:table-cell;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-right:2px;font-family:Arial,Helvetica,sans-serif;padding-left:5px}.group label{font-family:Arial,Helvetica,sans-serif;padding-left:4px;display:block}.matrix{width:9.5%!important;padding:2px;margin-right:2px!important;margin-bottom:2px!important;float:left!important}.width_100{width:100%}.width_95{width:95%!important}.width_90{width:90%!important}.width_80{width:80%!important}.width_60{width:60%!important}.width_45{width:45%!important}.general_list{margin:20px;padding:0}
.group_con{width:30%}.group label{text-align:left}
.group_con,.group_con_100,.group_con_30,.group_con_40,.group_con_25{width:100%!important}.matrix{width:9%!important}
.group_con_edit{-moz-box-sizing:border-box;float:left!important;margin-bottom:5px;padding-right:5px}.group_con_100{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:left!important;width:100%;padding-right:5px;margin-bottom:5px}.group_con_40{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:left!important;width:40%;padding-right:5px;margin-bottom:5px}.group_con_30{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:left!important;width:30%;padding-right:5px;margin-bottom:5px}.group_con_25{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:left!important;width:25%;padding-right:5px;margin-bottom:5px}
.group:after,.group:before{content:"";display:table}.group:after{clear:both}.group{zoom:1}
.group_specific label{color:#000;font:bold 14px Arial,Helvetica,sans-serif!important}.group_specific input[type="text"]:disabled,.group_specific input[readonly]{border:1px solid #898989;box-shadow:7px 7px 5px -6px rgba(0,0,0,0.3) inset}.matrixFormat{border-collapse:inherit!important;width:auto!important;border-radius:20px!important;border-left:3px solid #333!important;border-right:3px solid #333!important;padding:5px!important;font:bold 14px Arial,Helvetica,sans-serif!important;margin:5px;color:#3F3F3F}.matrixFormat td{padding:5px!important}.matrixHighLight{background:#C6C9CE}

.radio_check{padding:7px 5px;font-size:14px;margin-right:4px;float:left;font-family:Arial,Helvetica,sans-serif;color:#717070;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.result{margin-top:10px;background:#e4ddcb;padding:14px 20px;width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;overflow: auto;}
.result_box{background:#fff;-webkit-box-shadow:inset 7px 7px 5px -6px rgba(0,0,0,.3);-moz-box-shadow:inset 7px 7px 5px -6px rgba(0,0,0,.3);box-shadow:inset 7px 7px 5px -6px rgba(0,0,0,.3);border:1px solid #f07d7d;border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;margin:5px 0}
.group label{text-align:left}

.wp-calc-weight table{width:99%;border-collapse:collapse}
.wp-calc-weight table,.wp-calc-weight td,.wp-calc-weight th{border:none}

.customTextarea{min-height:200px!important}
.selectWidth{width:95%!important}
.selectWidth80{width:80%!important}
.selectWidth90{width:90%!important}
.textboxRight{float:right!important}

.wp-calc-weight-col {
	position:relative;
	width: 100%;
	float: left;	
	min-height: 1px;	
	white-space: normal
}  
.wp-calc-weight-col-1, .wp-calc-weight-col-2, .wp-calc-weight-col-3, .wp-calc-weight-col-4, .wp-calc-weight-col-5, .wp-calc-weight-col-6, .wp-calc-weight-col-7, .wp-calc-weight-col-8, .wp-calc-weight-col-9, .wp-calc-weight-col-10, .wp-calc-weight-col-11, .wp-calc-weight-col-12 {
	float: left;	
	min-height: 1px;	
	padding-top: 15px;
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
}    
.wp-calc-weight-col-12 {width: 100%;}
.wp-calc-weight-col-11 {width: 91.66666666666666%;}
.wp-calc-weight-col-10 {width: 83.33333333333334%;}
.wp-calc-weight-col-9 {width: 75%;}
.wp-calc-weight-col-8 {width: 66.66666666666666%;}
.wp-calc-weight-col-7 {width: 58.333333333333336%;}
.wp-calc-weight-col-6 {width: 50%;}
.wp-calc-weight-col-5 {width: 41.66666666666667%;}
.wp-calc-weight-col-4 {width: 33.33333333333333%;}
.wp-calc-weight-col-3 {width: 25%;}
.wp-calc-weight-col-2 {width: 16.666666666666664%;}
.wp-calc-weight-col-1 {width: 8.333333333333332%;}
.subforcalc{
	width: 80%;
	max-width: 550px;
	margin: 3em auto;
	padding: 1em;
	box-shadow:
	-15px -15px 2px -5px rgba(160,82,45,.5),
	-15px 15px 2px -5px rgba(0,255,255,.5),
	15px -15px 2px -5px rgba(255,0,0,.5),
	15px 15px 2px -5px rgba(255,255,0,.5);
}
@media only screen and (max-width: 480px) {
    .wp-calc-weight-col {
		white-space: normal;
	} 
    .wp-calc-weight-col-1, .wp-calc-weight-col-2, .wp-calc-weight-col-3, .wp-calc-weight-col-4, .wp-calc-weight-col-5, .wp-calc-weight-col-6, .wp-calc-weight-col-7, .wp-calc-weight-col-8, .wp-calc-weight-col-9, .wp-calc-weight-col-10, .wp-calc-weight-col-11, .wp-calc-weight-col-12 {
		width: 100%;
		display: block;
	}  
}
a.downlink{
    margin-bottom: 10px;    
}